@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom container styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Styling for logos */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Custom keyframe animation for spinning effect */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
